@{
    ViewData["Title"] = "Home Page 8888";
}

<div class="text-center">
    <h1 class="display-4">Pizzas</h1>
    <p>VERYTEL<a href="https://docs.microsoft.com/aspnet/core">7777-008</a>.</p>
</div>

<div>
    <b>Order ID</b>
    <p>2</p>

    <b>Customer</b>
    <p>user</p>

    <b>Size</b>
    <p>large</p>

    <b>Toppings</b>
    <p>pepperoni</p>

    <b>Instructios</b>
    <p>asdf</p>

    <b>Status</b>
</div>