@{
    ViewData["Title"] = "Privacy Policy";
}
<!--
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>
-->

<div>
    <b>Order Tracker</b>

    <p><b>Order Status: </b>Bake</p>

    <hr>

    <p><b>Order ID: </b>1</p>

    <p><b>Size: </b>Large</p>

    <p><b>Toppings: </b>pepperoni, extra chesse</p>
    <p><b>Instructions: </b>instructions</p>

</div>